@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, nord;
}

.hover-shadow {
  @apply hover:shadow-md transition-shadow duration-320 ease-in-out;
}

.reg-card {
  @apply card w-max card-lg bg-base-300 m-10 shrink max-w-[70vw] hover:shadow-md transition-shadow duration-320 ease-in-out
}